.fa-stack.big {
    font-size: 3em;
}

i {
    vertical-align: bottom;
}

/*article:hover {
    color: purple;
}*/

.fa-circle{
    color: grey;
}

.fa-gear, .fa-rss, .fa-earth-americas, .fa-flag, .fa-code, .fa-cloud{
    color: purple;
}

.services-section {
    display: flex;
    margin: auto;
    max-width: 1024px;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

article {
    display: flex;
    width: 33%;
}

div.content {
    display: inline-block;
<<<<<<< HEAD
    width: 66%;
}

div.logo {
    display: inline-block;
    line-height: 10%;
    vertical-align: middle;
    width: 33%;
    height: 100%;
    vertical-align: middle;
}

article>h3 {
    display: inline;
}

article>p {
    display: block;
    
    text-align: justify;
}

.services-section>h2 {
    width: 100%;
    text-align: center;
}

.services-section:not(:first-child) {
    flex: 1;
=======
    vertical-align: bottom;
}*/

header{
    width: 1024px;
    height: 500px;  
    background-image: url(../img/header.jpg);
    background-size: 100% 100%;
}


h1{
    color: white;
    font-family: ;

}

.main-navigator{
    background-color: #61458C;
}

.main-navigator-element{
    background-color: #61458C;
    color:white;
}

li{
    display: inline;

>>>>>>> 0282fb50f447a5dc68353f71f3a9db7f2c2bbd0f
}