/* Parte común */
:root {
    --morado: rgba(97, 69, 140, 255);
    --morado-fondo-form: rgba(121, 98, 158, 255);
    --gris-h: rgba(78, 78, 78, 255);
    --gris-p: rgba(135, 135, 135, 255);
    --gris-circulo: rgba(211, 211, 211, 255);
    --crema-fondo: rgba(242, 242, 242, 255);
}

body {
    font-family: 'Open Sans';
}

h1 {
    font-size: 2.5rem;
    /*Cambiar color a blanco cuando se ponga la imagen del header*/
}

h2 {
    font-size: 3rem;
    color: var(--gris-h);
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: var(--gris-h);
}

p {
    color: var(--gris-p);
}

/* Parte Judit - Sección Header */

/* Parte Lucía - Sección Who We Are */

/* Parte Antonio - Sección Our Services */
ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5rem;
    position: relative;
}


/* Parte David - Sección Portfolio */

/* Parte Antonio - Sección Contact */

/* Parte Rocío - Sección Email Us */

/* Parte David - Sección Footer */