/* Parte común */
:root {
    --morado: rgba(97, 69, 140, 255);
    --morado-fondo-form: rgba(121, 98, 158, 255);
    --gris-h: rgba(78, 78, 78, 255);
    --gris-p: rgba(135, 135, 135, 255);
    --gris-circulo: rgba(211, 211, 211, 255);
    --crema-fondo: rgba(242, 242, 242, 255);
}

body {
    font-family: 'Open Sans';
}

h1 {
    font-size: 2.5rem;
    /*Cambiar color a blanco cuando se ponga la imagen del header*/
}

h2 {
    font-size: 3rem;
    color: var(--gris-h);
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    color: var(--gris-h);
}

p {
    color: var(--gris-p);
}

/* Parte Judit - Sección Header */

/* Parte Lucía - Sección Who We Are */

.who {
    background-color: var(--crema-fondo);
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;
    display: block;
    margin: auto;
}

.subtitle {
    font-size: 1.5rem;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 3rem;
}

.column1 {
    float: left;
    width: 48%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2rem;
}

.left {
    display: inline-block;
    width: 48%;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    line-height: 2rem;   
}

.box1 {
    text-align: justify;
    font-size: 1.25rem;
    margin-top: 1rem;
}

.box1 img {
    width: 30%;
    float: left;
    margin-right: 0.5rem;
}

.line{
    width: 1px;
    height: 860px;
    display: inline-block;
    background-color: rgb(194, 193, 193);
    margin-right: 1rem;
    margin-left: 1rem;
}

.column2 {
    float: right;
    width: 48%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2rem;
}

.right {
    display: inline-block;
    width: 48%;
    font-weight: bold;
    font-size: 2rem;
    text-align: left;
    line-height: 2rem;
}

.box2 {
    text-align: justify;
    font-size: 1.25rem;
    margin-top: 1rem;
}

aside img {
    margin-left: 3rem;
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    margin-right: 0rem;
    width: 80%;
}

/* Parte Antonio - Sección Our Services */

/* Parte David - Sección Portfolio */

/* Parte Antonio - Sección Contact */

/* Parte Rocío - Sección Email Us */

/* Parte David - Sección Footer */
